{% extends "base.html" %}

{% block title %}Circle{% endblock %}

{% block content %}
  <h1>Sliding Block</h1>
  <p>Here is how this works...</p>
  <video width="320" height="240" controls>
    <source src="{{ url_for('static', filename=file_path) }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <form method="POST" action="{{ url_for('animations.sliding_block') }}">
      {{ form.csrf_token }}
      {{ form.slider_size.label }} {{ form.slider_size }}
      <input type="submit" value="Submit">
  </form>
{% endblock %}